---
layout: slide
title: Questões de concurso - Psicopatologia (CID-10) | Aula 2
description: Simulado com 32 questões de concurso sobre o conteúdo da segunda aula sobre psicopatologia (CID-10).
theme: gg
transition: none
permalink: /slides/questoes-de-concurso-psicopatologia-cid10-aula-2/
---

{% include ads/slads.html %}

<section>

<h1>QUESTÕES DE CONCURSO</h1>
<h2>PSIQUIATRIA E SAÚDE MENTAL</h2>
<h2>AULA 2</h2>
<br>
<h5> Por <a href="/sobre">Gregório Ribeiro de Miranda</a></h5>

<br>
{% include ads/est-largo.html %}

</section>

<section>

<h2>Apresentação</h2>

<p>Nestes slides, disponibilizo 32 questões de concurso referentes ao conteúdo da <a href="/psicologia-para-concurso/psicopatologia-cid10-aula-2/">segunda aula de Psicopatologia e CID-10</a>, baseada no livro <i>Psiquiatria e Saúde Mental</i>.</p>

<p>Anote suas respostas em um rascunho e confira com o gabarito no último slide.</p>

<h4>Boa sorte!</h4>
<br>

{% include ads/sol-largo.html %}

</section>

<section data-markdown data-separator="---">
<script type="text/template">

1) __(CEC/Prefeitura de Piraquara/Psicólogo/2014)__ Assinale a alternativa que completa adequadamente as lacunas nos seguintes trechos apresentados abaixo, que abordam conceitos referentes aos Transtornos Mentais Relacionados às Substâncias:
        
<p style="font-size:80%;">A característica essencial do (a) <span style="border-bottom: 1px solid black;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span> consiste no desenvolvimento de uma alteração comportamental mal adaptativa e específica de determinada substância, com concomitantes fisiológicos e cognitivos, devido à cessação ou à redução do uso pesado e prolongado da substância.</p>

<p style="font-size:80%;">A característica essencial do (a) <span style="border-bottom: 1px solid black;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span> consiste na presença de um agrupamento de sintomas cognitivos, comportamentais e fisiológicos indicando que o indivíduo continua utilizando uma substância, apesar de problemas significativos relacionados a ela.</p>

<p style="font-size:80%;">A <span style="border-bottom: 1px solid black;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span> consiste na necessidade de crescentes quantidades da substância para atingir a intoxicação ou em uma diminuição acentuada do efeito com o uso continuado da mesma quantidade da substância.</p>
        
<p style="font-size:80%;">A característica essencial do (a) <span style="border-bottom: 1px solid black;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span> consiste no desenvolvimento de uma síndrome reversível e específica de uma substância devido à sua ingestão recente (ou exposição a esta).</p>

---

a) Abstinência de Substância; Dependência de Substância; Tolerância; Intoxicação.  
b) Abuso de Substância; Dependência de Substância; Abstinência de Substância; Intoxicação.  
c) Abstinência de Substância; Intoxicação; Tolerância; Abuso de Substância.  
d) Dependência de Substância; Abstinência de Substância; Tolerância; Intoxicação  
e) Intoxicação; Dependência de Substância; Tolerância; Abstinência de Substância.

---

<div style="font-size:99%; text-align:left; line-height:1.5em;">
2) __(FUNCAB/PC-ES/Psicólogo/2013)__ A literatura reconhece vários níveis de interação entre o indivíduo, o álcool e outras substâncias psicoativas, como por exemplo, as noções de uso nocivo ou abusivo, e dependência. Em relação à síndrome de dependência, podemos citar como uma de suas características:
<br><br>
a) o fato de o indivíduo não apresentar evidências de tolerância à substância utilizada.  
b) o fato de a dependência sempre estar relacionada como uso de um único tipo de substância.  
c) o fato de o indivíduo não apresentar dependência fisiológica, apenas psicológica, o que justificaria a ausência do quadro conhecido como “estado de abstinência fisiológica”.  
d) o fato de o indivíduo apresentar empobrecimento ou estreitamento do repertório, ou seja, redução dos interesses do indivíduo por questões que não estejam relacionadas como uso da substância.  
e) a presença da necessidade física ou psicológica da substância psicoativa, sem a presença da compulsão.
</div>

---

3) __(FCC/TRT-PE/Analista Jud. Psi./2012)__ Transtorno caracterizado por amplo espectro de disfunções cognitivas e emocionais, incluindo delírios e alucinações, discurso e comportamento confusos e emoções inapropriadas. Trata-se de

a) transtorno somatoforme.  
b) esquizofrenia.  
c) transtorno de identidade dissociativa.  
d) transtorno de estresse pós-traumático.  
e) ansiedade generalizada.

---

4) __(FCC/TJ-RJ/Analista Jud. Psi./2012)__ A Classificação de Transtornos Mentais e de Comportamento da CID-10 aponta que o diagnóstico de Esquizofrenia (F20) depende da presença de delírios, alucinações e outros sintomas típicos, que devem estar claramente presentes pela maior parte do tempo durante um período de

a) 1 mês ou mais.  
b) 3 meses ou mais.  
c) 1 ano ou mais.  
d) 6 meses ou mais.  
e) 15 dias ou mais.

---

5) __(FCC/TRE-SP/Analista Jud. Med. Psiq./2012)__ Desenvolve-se de forma insidiosa, porém progressiva, com alterações comportamentais, inabilidade de corresponder às demandas da sociedade e declínio da performance global. Os delírios e alucinações podem não ser muito evidentes. Os sintomas negativos desenvolvem-se sem serem precedidos por nenhum sintoma positivo evidente e à medida que o empobrecimento social se estabelece, o paciente pode tornar-se apático, inativo e sem iniciativas.

O quadro descrito acima corresponde ao subtipo da esquizofrenia

a) residual.  
b) simples.  
c) paranoide.  
d) hebefrênica.  
e) indiferenciada.  

---

6) __(Adaptado de FCC/TRT-PR/Analista Jud. Psi./2010)__ O Transtorno Psicótico Agudo e Transitório é uma perturbação psicótica com duração maior que

a) 10 dias e remissão em 2 meses.  
b) 1 dia e remissão em 1 mês.  
c) 15 dias e remissão em 1 mês.  
d) 6 dias e remissão em 2 meses.  
e) 1 mês e remissão em 3 meses.

---

7) __(FCC/METRÔ-SP/Analista Psi./2008)__ A Classificação de Transtornos Mentais e de Comportamento da CID-10 considera que o Transtorno Delirante (F22.0) é caracterizado pelo desenvolvimento de um delírio

a) associado a outro, que permanece pelo período de aproximadamente três meses.  
b) isolado ou de um conjunto de delírios relacionados entre si, que são usualmente persistentes e muitas vezes duram toda a vida.  
c) isolado ou de um conjunto de delírios, que não são usualmente persistentes e muitas vezes duram alguns meses.  
d) continuado, que permanece pelo período de aproximadamente um ano, para ser considerado verdadeiramente um transtorno.  
e) recorrente, com intervalos de aproximadamente um ou dois meses entre cada episódio delirante e outro.

---

8) __(Adaptado de FGV/TJ-BA/Analista Jud. Psi./2015)__ João levou sua esposa Lucia a uma emergência onde relatou que ela se recusava a amamentar o filho de 15 dias, alegando que ele havia sido possuído por um “espírito maligno” que tentaria se transferir para seu corpo. Lucia não dormia, cantava hinos religiosos e passou a dizer que cumpriria as ordens para “eliminar o obsessor” que havia invadido a casa. A descrição do quadro apresentado por Lucia é compatível com o diagnóstico de:

a) depressão pós-parto;  
b) esquizofrenia afetiva;  
c) disforia pós-natal;  
d) transtorno de personalidade histriônica;  
e) psicose pós-parto.

---
<div style="font-size:99%; text-align:left; line-height:1.5em;">
9) __(Adaptada de CESPE/STJ/Analista Jud. Psi./2012)__ Acerca dos transtornos do humor, julgue os itens a seguir e assinale a alternativa que aponta todas as assertivas corretas.
<br> <br>
I. Alucinações e delírios são sintomas psicóticos incompatíveis com a sintomatologia dos transtornos do humor.  
II. O transtorno ciclotímico caracteriza-se pela ocorrência de períodos de hipomania alternados com períodos de mania.  
III. A ciclotimia consiste em um transtorno do humor bipolar cujos sintomas incluem fortes surtos de hipomania e quadros depressivos leves.
<br> <br>
a) I e II  
b) II e III  
c) I e III  
d) Todas estão corretas  
e) Todas estão incorretas
</div>
---

10) __(Adaptado de CONSULPAM/SURG/Psicólogo/2014)__ São considerados sintomas dos seguintes transtornos:

a) Transtorno de personalidade histriônica: rigidez e teimosia, aderência excessiva às convenções sociais.  
b) Episódio Depressivo: interesse, atividade, autoestima e autoconfiança reduzidos.  
c) Agorafobia: medo excessivo de entrar em contato com animais.  
d) Transtorno Hipocondríaco: medo de lugares fechados e do uso de medicação.

---

11) __(FCC/TRF - 3ª REGIÃO/Analista Jud. Psiq./2014)__ São sintomas comuns na distimia:

a) humor irritadiço e inércia.  
b) delírios de ruína e sensação de ver vultos.  
c) aumento do apetite e do sono.  
d) taquipsiquismo e irritabilidade.  
e) logorreia e insônia.

---

<div style="font-size:99%; text-align:left; line-height:1.5em;">
12) __(Adaptado de CEC/Prefeitura de Piraquara-PR/Psicólogo/2014)__ No Brasil, aproximadamente 12% da população é ansiosa, calcula o Instituto de Psiquiatria do Hospital das Clínicas da Faculdade de Medicina da Universidade de São Paulo, o que representa 24 milhões de brasileiros com ansiedade patológica. Sobre esses Transtornos, analise os itens abaixo e assinale a alternativa que aponta todas as assertivas corretas.
<br> <br>
I. A Fobia Social caracteriza-se por pelo menos 6 meses de ansiedade e preocupações excessivas e persistentes.  
II. A característica essencial da Fobia Específica é o medo acentuado e persistente de objetos ou situações claramente discerníveis e circunscritos. A exposição ao estímulo fóbico provoca, quase que invariavelmente, imediata resposta de ansiedade.  
III. O Transtorno de Estresse Pós-traumático pode ocorrer em qualquer idade, incluindo a infância. Os sintomas em geral iniciam em algumas semanas ou meses após o trauma.  
IV. A característica essencial da Agorafobia é um medo acentuado e persistente de situações sociais ou de desempenho nas quais o indivíduo poderia sentir vergonha.  
</div>
---

a) I, II e IV  
b) I, II, III  
c) III e IV  
d) II e III  
e) II, III e IV

---

13) __(FCC/TRE-CE/Analista Jud. Psi/2012)__ A Classificação de Transtornos Mentais e de Comportamento da CID-10 indica que ataques recorrentes de ansiedade grave, os quais não estão restritos a qualquer situação ou conjunto de circunstâncias em particular e que são, portanto, imprevisíveis, são aspectos essenciais encontrados no transtorno de

a) identidade.  
b) ruborização.  
c) pânico.  
d) obsessão.  
e) tique.

---

14) __(CETRO/IF-PR/Psicólogo/2014)__ A presença dos sintomas relacionados abaixo, por um período determinado, são característicos de um transtorno. Analise-os.

I. Embotamento afetivo.  
II. Desorganização da linguagem.  
III. Desorganização do comportamento.  
IV. Delírios bizarros ou alucinações.  

Diante do exposto, assinale a alternativa que apresenta este transtorno.

a) Depressão profunda.  
b) Transtorno bipolar com predomínio maníaco.  
c) Neurose pós-traumática.  
d) Distimia.  
e) Esquizofrenia.

---

15) __(Adaptado de CESPE/ME/Psicólogo/2008)__ Personalidade paranóide: necessidade de afirmação; projeção; desconfiança; defesa com prontidão ao ataque; expressão de afetos com facilidade, em busca de aceitação.

a) certo  
b) errado  

---

16) __(FUNCAB/DETRAN-PE/Psicólogo/2010)__ Um paciente X, de 20 anos, é reconhecido pelos familiares como apresentando uma reduzida capacidade para relacionamentos íntimos, distorções cognitivas, perceptivas, construções idiossincráticas do discurso e comportamento excêntrico. Em anamnese, não apresenta atividade delirante. Podemos suspeitar de um Transtorno de:
 
a) personalidade antissocial.  
b) psicótico de personalidade.  
c) personalidade esquiva.  
d) personalidade esquizotípica.  
e) personalidade limítrofe.

---
<div style="font-size:99%; text-align:left; line-height:1.5em;">
17) __(CESGRANRIO/Petrobras/Psicólogo/2010)__ Analise o caso abaixo.
<br><br>
Identificação: Edvaldo, 35 anos, casado, dois filhos, nível superior.
<br><br>
História de trabalho e relações com o desenvolvimento de sinais e sintomas: Trabalha em uma grande empresa de petróleo como químico-chefe de um setor de plataforma. Seu trabalho tem alto grau de periculosidade. Quadro clínico: No mês anterior, apresentou um quadro preocupante apontado por seus comandados. Sua consciência clara e sua capacidade intelectual ficaram intatas. No entanto, naquele período, apresentou pensamentos confusos em relação a si próprio, afetando seu senso de univocidade e de direção de si mesmo. Passou a se sentir como centro de um complô contra a empresa em que trabalha, apresentando também alucinações auditivas frequentes. Seu pensamento se tornou vago e obscuro, sendo suas palavras muitas vezes sentidas por seus comandados como incompreensíveis. Mostrou também uma apatia marcante seguida de um forte retraimento social. Os sintomas apresentados surgiram de forma aguda nas primeiras duas semanas, mas se extinguiram em menos de 1 mês.
</div>

---

Considerando-se os dados fornecidos acima e de acordo com os padrões estabelecidos pelo CID-10, o químico em questão apresenta sintomas relativos a

a) Hipomania.  
b) Transtorno psicótico esquizofreniforme.  
c) Esquizofrenia.  
d) Psicose simbiótica.  
e) Transtorno esquizotípico.  

---

18) __(Adaptado de FUNIVERSA/MPE-GO/Psicólogo/2010)__ O adolescente N., de 18 anos de idade, é apreendido após tentativa de roubo a uma padaria. Na entrevista com o psicólogo, N. conta que lhe dá prazer tirar as coisas das outras pessoas e que muitas vezes só consegue ficar feliz roubando ou quebrando coisas (orelhões, bancos de praça, pontos de ônibus, por exemplo). Esse comportamento é recorrente, e N. já foi apreendido 9 vezes nos últimos 6 meses. Relatórios anteriores, feitos por psicólogos e por psiquiatras, apontam corretamente para o diagnóstico de transtorno de

a) personalidade antissocial.  
b) personalidade histriônica.  
c) personalidade esquizoide.  
d) personalidade depressiva.  
e) personalidade emocionalmente instável tipo borderline.

---

19) __(FCC/TRE-SP/Analista Jud. Med. Psiq./2012)__ Sensação de dúvida e cautela excessivos, preocupação exagerada com detalhes, regras e organização, rigidez e pedantismo. Estes sintomas são característicos do transtorno

a) obsessivo compulsivo.  
b) de personalidade esquiva.  
c) de personalidade anancástica.  
d) de personalidade dependente.  
e) de ansiedade generalizada.

---

20) __(IBFC/EBSERH/Med. Psiq./2015)__ O Transtorno de Personalidade Dependente pode ser altamente incapacitante. É uma característica deste transtorno:

a) Necessidade de que outros assumam a responsabilidade pelas principais áreas da sua vida.  
b) Preocupação com regras, detalhes e listas, fazendo com que a atividade principal seja perdida.  
c) Rigidez e teimosia excessiva.  
d) Mudanças rápidas e superficialidade nas emoções.  
e) Estilo de discurso excessivamente impressionista e carência de objetividade.

---

21) __(COSEAC/UFF/Med. Psiq./2014)__ O tipo de personalidade que se caracteriza pela preferência quase invariável por atividades solitárias, capacidade limitada para expressar sentimentos calorosos e por comportamento introspectivo é o tipo:

a) dependente.  
b) histriônico.  
c) borderline.  
d) evitativo.  
e) esquizoide.

---
<div style="font-size:99%; text-align:left; line-height:1.5em;">
22) __(Adaptado de ASPERHS/Prefeitura de Catende-PE/Psicólogo/2010)__ Referente ao Transtorno de Somatização é INCORRETO afirmar:
<br><br>
a) Esse transtorno caracteriza-se por múltiplas, recorrentes, freqüentes, mutáveis e prolongadas queixas de sintomas físicos sem uma base médica constatável.  
b) Antes dos pacientes com somatizações procurarem um psiquiatra eles passam anos mudando de clínicos, procurando diversos médicos e fazendo vários exames.  
c) Qualquer área do corpo pode estar afetada. Como o paciente recusa-se a aceitar que nenhuma disfunção foi descoberta pelos exames e consultas, acaba tendo desavenças com as pessoas próximas.  
d) O diagnóstico requer a presença por pelo menos 1 ano de sintomas físicos múltiplos e variáveis para os quais nenhuma explicação foi encontrada.  
e) Freqüentemente outros distúrbios psiquiátricos estão associados como depressão e ansiedade. Uma das conseqüências são as indisposições de ânimo geradas em quem está próximo, pois com o tempo se cansam de tanto ouvirem as mesmas queixas. 
</div>

---

23) __(COVEST-COPSET/UFPE/Med. Psiq./2015)__ Considerando os aspectos clínicos dos transtornos dissociativos, é correto afirmar que:

a) na amnésia dissociativa, os sintomas não causam sofrimento ao paciente nem prejuízo no funcionamento social.  
b) o uso pesado do álcool constitui causa principal para a fuga dissociativa.  
c) a amnésia como sintoma é comum à fuga dissociativa e à amnésia dissociativa.  
d) o risco de suicídio entre pessoas com o transtorno de personalidade múltipla é inexpressivo.  
e) na amnésia dissociativa, o comprometimento da memória é semelhante ao que ocorre na demência com a memória intacta para informações gerais.

---

<div style="font-size:90%; text-align:left; line-height:1.5em;">
24) __(FCC/TRE-AP/Analista Jud. Psi./2011)__ O aspecto essencial deste transtorno é uma preocupação persistente com a possibilidade de ter um ou mais transtornos físicos sérios e progressivos. Os pacientes manifestam queixas somáticas persistentes ou preocupação persistente com a sua aparência física. Sensações e aparências normais ou banais são muitas vezes interpretadas por um paciente como anormais e angustiantes e a atenção é usualmente focalizada em apenas um ou dois órgãos ou sistemas do corpo. O transtorno físico ou desfiguramento temido pode ser especificado pelo paciente, mas mesmo assim o grau de convicção sobre sua presença e a ênfase sobre um transtorno em vez de outro, em geral, varia entre as consultas; o paciente usualmente cogitará a possibilidade de que outros transtornos físicos possam existir em adição àquele ao qual é dado predominância. Estas características configuram o transtorno
</div><br>
<div style="font-size:99%; text-align:left; line-height:1.5em;">
a) associativo.  
b) dissociativo.  
c) hipocondríaco.  
d) somatoforme diferenciado.  
e) psicossomático diferenciado.
</div>
---

25) __(FUNCAB/DETRAN-PE/Psicólogo/2010)__ O transtorno mental que se caracteriza por episódios repetidos de ingestão excessiva de alimentos num curto espaço de tempo (crises), seguido por uma preocupação exagerada sobre o controle do peso corporal, preocupação esta que leva a pessoa a adotar condutas inadequadas e perigosas para sua saúde, é chamado de:

a) anorexia.  
b) pica.  
c) vigorexia.  
d) bulimia nervosa.  
e) compulsão alimentar.

---

__(CESPE/PC-PA/Psicólogo/2007)__ Texto para as questões 26 e 27.

Françoise, com 23 anos de idade, foi encaminhada ao psicólogo por um médico, clínico geral, para avaliação psicológica. Ela diz estar “afetada por uma anorexia”, já há muitos anos, embora sua aparência física e seu peso praticamente normal para a estatura não pareçam confirmar sua queixa. Todos os dias, ela enche a boca de comida, mastiga até ficar uma papa, depois cospe tudo na lata de lixo. Recentemente, consultou outro terapeuta, que lhe garantiu não ser possível ela sofrer de uma anorexia, pois seu peso era normal. Vive há três anos com um parceiro, mas este está em vias de deixá-la para viver com outra mulher. Devido a esse fato, Françoise relata sofrer insônia e desânimo para o trabalho, além de chorar por qualquer motivo. Ela diz ter vontade de morrer, como lembra ter tido, quando, aos quinze anos de idade, teve um episódio de anorexia pura, espécie de greve de fome.


---

26) Acerca das fases de um processo psicodiagnóstico para o caso de
Françoise, relatado no texto, assinale a opção incorreta.

a) Diante da queixa relatada por Françoise, deve-se definir as hipóteses iniciais e os objetivos do exame.  
b) É necessário, como primeira etapa do processo, iniciar a psicoterapia com Françoise.  
c) Planejar e selecionar os instrumentos de exame psicológico e submeter Françoise a eles faz parte de uma das etapas do processo.  
d) É importante integrar dados e informações, comunicar a Françoise os resultados e oferecer-lhe orientação.


---

27) Com base no caso clínico relatado no texto, o diagnóstico conclusivo mais adequado a ser apresentado pelo psicólogo é o de

a) anorexia mental.  
b) bulimia nervosa.  
c) episódio depressivo.  
d) transtorno alimentar.


---

28) __(FCC/TRF - 2ª REGIÃO/Analista Jud./2012)__ Analise:

I. Para o diagnóstico de Anorexia Nervosa é obrigatório que a criança encontre-se pelo menos 25% abaixo do peso corporal esperado para idade e altura.  
II. Os mecanismos compensatórios purgativos (indução de vômitos, uso de laxativos) são característicos da Bulimia Nervosa e bastante raros na Anorexia Nervosa.  
III. Alterações do eixo hipotálamo-hipófise, tais como amenorreia, geralmente estão presentes nos casos de Anorexia Nervosa, porém são raros na Bulimia Nervosa.  
IV. A distorção da imagem corporal geralmente está presente tanto na Anorexia Nervosa quanto na Bulimia Nervosa.

---

Considerando V(verdadeiro) e F(falso), os itens de I a IV são, respectivamente:

a) V, V, F, F  
b) V, F, V, V  
c) F, F, V, V  
d) F, V, F, V  
e) V, V, V, F

---

29) __(IBFC/EBSERH/Med. Psiq./2015)__ A mãe traz seu filho, de 4 anos, ao pediatra contando que o menino acorda à noite, senta-se na cama e com o rosto denotando medo, emite um som semelhante a um grito. Associado a isto ele fica corado, com coração batendo rápido e como se estivesse com falta de ar.

Trata-se provavelmente de:

a) Transtorno de Pânico.  
b) Transtorno de Ansiedade generalizada.  
c) Transtorno de Conduta.  
d) Terror Noturno.  
e) Embriaguez do sono.

---

<div style="font-size:99%; text-align:left; line-height:1.5em;">
30) __(Adaptado de FCC/TRT-GO/Analista Jud. Med. Psiq./2008)__ Quanto à classificação dos Transtornos Mentais, segundo a CID 10, é correto afirmar:
<br><br>
a) __Anorexia nervosa__ é um transtorno caracterizado por perda de peso intencional, induzida e mantida pelo paciente. Existe baixo peso, desnutrição de grau variável e modificações endócrinas e metabólicas secundárias e de perturbações das funções fisiológicas. Os sintomas compreendem uma restrição das escolhas alimentares, a prática excessiva de exercícios físicos. Diferencia-se da bulimia nervosa pela ausência de comportamento purgativo como vômitos provocados e utilização de laxantes, anorexígeros e de diuréticos.  
b) __Retardo mental__ é a parada do desenvolvimento ou desenvolvimento incompleto do funcionamento intelectual, caracte- rizado essencialmente por um comprometimento, durante o período de desenvolvimento, das faculdades que determinam o nível global de inteligência, isto é, das funções cognitivas, de linguagem, da motricidade e do comportamento social. O retardo mental pode acompanhar um outro transtorno mental ou físico, ou ocorrer de modo independente. Classifica-se em retardo mental leve; retardo mental moderado; retardo mental grave e retardo mental profundo.
</div>

---

<div style="font-size:99%; text-align:left; line-height:1.5em;">
c) Na __hipersônia__, o sono é de quantidade e de qualidade não satisfatórias; o transtorno de sono persiste durante um período prolongado; pode se tratar de uma dificuldade de adormecer associada a um estado de sonolência diurna excessiva e ataques de sono, e por períodos de transição curtos até o estado de vigília completo após o despertar matinal. Há também uma ausência de sincronicidade entre o horário de vigília-sono e o horário vigília-sono apropriado ao ambiente de um indivíduo.  
d) O __terror noturno__ é uma experiência de sonho carregada de ansiedade ou de medo que se acompanha de uma lembrança muito detalhada do conteúdo do sonho. Esta experiência de sonho é muito intensa e comporta em geral temas como ameaças à existência, à segurança ou à auto-estima. É freqüente que os pesadelos tenham tendência a se repetir com temas idênticos ou similares. Os episódios típicos comportam certo grau de hiperatividade neurovegetativa, mas sem atividade verbal ou motora notável. O indivíduo se senta ou se levanta, comumente no final do sono noturno, com um grito de pânico. Freqüentemente corre até à porta como se quisesse fugir, mas raramente deixa seu quarto. Ao despertar, o sujeito se torna rapidamente alerta e bem orientado.
</div>

---

<div style="font-size:99%; text-align:left; line-height:1.5em;">
31) __(CEC/Prefeitura de Piraquara/Psicólogo/2014)__ A identificação e o tratamento de transtornos mentais são algumas das atribuições do Psicólogo no campo da Saúde Mental. Para tal, é necessário o conhecimento de conceitos básicos no campo da Psicopatologia. A seguir, seguem 5 definições.
<br><br>
1. Um estado de ausência completa de resposta, com imobilidade e mutismo.  
2. Medo irracional e persistente de um objeto, atividade ou situação específicos ocasionando um intenso desejo de evitá-los.  
3. Uma alteração na percepção ou experiência do mundo externo, de modo que parece estranho ou irreal.   
4. Antecipação apreensiva de um futuro perigo ou infortúnio acompanhada de uma sensação de disforia ou sintomas somáticos de tensão.  
5. Falsa crença baseada em uma inferência incorreta acerca da realidade externa, firmemente mantida, apesar do que quase todas as outras pessoas acreditam e apesar de provas ou evidências em contrário.
</div>

---

Assinale a alternativa que relaciona corretamente cada um dos conceitos abaixo com suas respectivas definições:  
a) 1. Catalepsia; 2.Fobia; 3. Delírio; 4. Ansiedade; 5. Dissociação.  
b) 1. Estupor; 2. Fobia; 3. Desrealização; 4. Ansiedade; 5. Delírio.  
c) 1. Estupor; 2. Delírio; 3. Despersonalização; 4. Fobia; 5. Delírio.  
d) 1. Distonia; 2. Fobia; 3. Disforia; 4. Ansiedade; 5. Alucinação.  
e) 1. Desorientação; 2. Fobia; 3. Ansiedade; 4. Afonia; 5. Delírio.

---

32) __(Adaptado de CESPE/SESA-ES/Psicólogo/2013)__ João, paciente de cinquenta e quatro anos de idade, apresenta problemas de memória, com alteração grave da fixação. Também apresenta orientação alopsíquica significativamente alterada, mas a orientação autopsíquica se mantém preservada. Demonstra relativa orientação em relação ao meio em que se encontra, porém apresenta desorientação amnéstica, especialmente em relação à cronologia, além de lacunas na memória e presença de fabulações.

O quadro sintomático acima é condizente com

a) delirium.  
b) transtorno mental orgânico.  
c) transtorno somatoforme.  
d) esquizofrenia paranoide.  
e) demência.

    </script>
</section>

<section data-markdown>
<script type="text/template">

# Gabarito


| 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 
|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|
| A | D | B | A | B | B | B | E | E |  B |  A |  D |  C |  E |  B |  D | 

<center>
{% include ads/est-alt-largo.html %}
</center>

| 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 
|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|
| B | A | C | A | E | D | C | C | D |  B |  C |  C |  D |  B |  B |  E | 

</script>
</section>

<section>
{% include ads/est-box.html %}
&nbsp; &nbsp; &nbsp;
{% include ads/sol-box.html %}
</section>