---
layout: default
title: GGio - Blog do Gregório
description: Blog pessoal do Gregório e às vezes aulas e resumos de psicologia para concursos públicos.
logoface: true
---

<div class="home" id="home">
  <h1 class="pageTitle">Postagens "recentes"</h1>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <!---
        <span class="date">
           {% if post.categories contains 'psicologia-para-concurso' %}
            <span class="sutil">
              <i class="fa fa-book fa-lg"></i>&nbsp; Psicologia para concurso
            </span>
          {% endif %}
          {% if post.categories contains 'blog' %}
            <span class="sutil">
              <i class="fa fa-pencil fa-lg"></i>&nbsp; Blog
            </span>  
          {% endif %}
        {% assign m = post.date | date: "%-m" %}
        {{ post.date | date: "%-d de" }}
        {% case m %}
          {% when '1' %}Janeiro
          {% when '2' %}Fevereiro
          {% when '3' %}Março
          {% when '4' %}Abril
          {% when '5' %}Maio
          {% when '6' %}Junho
          {% when '7' %}Julho
          {% when '8' %}Agosto
          {% when '9' %}Setembro
          {% when '10' %}Outubro
          {% when '11' %}Novembro
          {% when '12' %}Dezembro
        {% endcase %} 
        {{ post.date | date: "de %Y" }} 
        </span> -->
        <big><b><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></big></b>
        <p class="description">{% if post.excerpt %}{{ post.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 200 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Recentes</a> 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Anteriores</a>
    {% endif %}
  </div>
</div>
