---
layout: slide
title: Psicopatologia (CID 10) - Slides Aula 2
description: Apresentação de slides da segunda aula de psicopatologia (CID-10) para concursos públicos voltada para psicólogos e afins.
theme: gg
transition: none
permalink: /slides/psicopatologia-cid10-aula-2/
---

{% include ads/slads.html %}

<section>

<h1> PSIQUIATRIA</h1>   
<h1> E SAÚDE MENTAL</h1>
<h1> (CID-10)</h1>
<h2>Aula 2</h2>
<h4> Slides por <a href="/sobre">Gregório Ribeiro de Miranda</a></h4>

{% include ads/est-largo.html %}

</section>

<section>

<h2>Apresentação</h2>    

<p>Esta é a segunda aula é baseada no livro "<b>Psiquiatria e Saúde Mental</b>", de Portella Nunes, Romildo Bueno e Nardi, publicado pela editora Atheneu.</p>    
 
<p>O livro, ideal para quem estuda para concursos e precisa de acesso fácil aos <b>critérios diagnósticos da CID-10</b>, chama atenção pela objetividade e <b>conteúdo prático</b>, sem se deter tanto em discussões teóricas.</p>

<p>A segunda aula contém 100 slides e abarca a segunda metade do livro (páginas 75-186).</p>

<p>Ainda não assistiu a <b><a href="/psicologia-para-concurso/psicopatologia-cid10-aula-1/">primeira aula</a></b>? Recomendo começar por ela!

<h4>Bons estudos!</h4>

{% include ads/sol-largo.html %}

</section>

<style>.h-plano header:after { content: "Plano de aula"; }</style>
<section data-markdown>

## Plano de aula

1. [Transtornos mentais pelo uso de substâncias psicoativas](#/subs)
2. [Esquizofrenia](#/esquizo)
3. [Outros Transtornos Psicóticos](#/outros)
4. [Transtornos do Humor](#/humor)
5. [Transtornos da Ansiedade](#/ansiedade)
6. [Transtornos de Personalidade](#/persona)
7. [Transtornos Somatomorfos e Dissociativos](#somadisso)
8. [Transtornos Alimentares](#/alim)
9. [Transtornos do Sono](#/sono)
</section>

<style>.h-substancias header:after { content: "Transtornos Mentais pelo Uso de Substâncias Psicoativas"; }</style>
<section data-markdown data-state="h-substancias" data-separator="---"  id="subs">
    <script type="text/template">

#### Diretrizes diagnósticas da CID-10 para Intoxicação Aguda (F1x.0)
<hr>
* É um fenômeno transitório, usual e intimamente relacionado aos níveis de doses.

* Desinibição decorrente do contexto social deve ser também levada em consideração.

* A intensidade da intoxicação diminui com o tempo, e os efeitos finalmente desaparecem na ausência de uso posterior da substância.

* A recuperação é completa, exceto quando surgirem lesão tecidual ou complicações.
<hr>

  </script>
</section>

<section data-markdown data-state="h-substancias" data-separator="---">
    <script type="text/template">

#### Diretrizes diagnósticas da CID-10 para Uso Nocivo (F1x.1)

<hr>

* O diagnóstico requer que __um dano real__ deva ter sido causado à saúde física e mental do usuário.
* O padrão de uso é frequentemente criticado por outras pessoas e está, com frequência, associado a consequências sociais diversas.
* O fato de que um padrão de uso ou uma substância em particular não seja aprovado por outra pessoa, pela cultura ou que possa ter levado a consequências socialmente negativas, tais como prisão ou brigas conjugais, __não__ é por si mesmo evidência de uso nocivo. 
&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; __(Continua...)__
<hr>

---

#### Diretrizes diagnósticas da CID-10 para Uso Nocivo (F1x.1)

<hr>

* A intoxicação aguda ou a “ressaca” __não__ é evidência suficiente para codificar o uso nocivo.
* Não deve ser utilizado se outra forma específica de transtorno por uso de substância psicoativa estiver presente.

<hr>

---

#### Diretrizes diagnósticas da CID-10 para Síndrome de Dependência (F1x.2)

<hr>

O diagnóstico deve ser feito somente se __três ou mais__ dos seguintes requisitos tiverem ocorrido em algum momento __durante o ano anterior__:

__a)__ Forte __desejo ou compulsão__ para consumir a substância;

__b)__ __Dificuldade em controlar__ o consumo da substância, em termos de início, término e quantidade;

<hr>


<p style="text-align:right;">__(Continua...)__</p>

---

#### Diretrizes diagnósticas da CID-10 para Síndrome de Dependência (F1x.2)

<hr>

__c)__ __Presença de síndrome de abstinência__ ou uso da substância para evitar o aparecimento da mesma;

__d)__ __Presença de tolerância__, evidenciada pela necessidade de aumentar a quantidade para obter o mesmo efeito anterior;

__e)__ Abandono progressivo de outros interesses ou prazeres em favor do uso da substância;

__f)__ Persistência no uso, apesar das diversas consequências negativas.

<hr>

---

#### Diretrizes diagnósticas da CID-10 para Estado de Abstinência (F1x.3)

<hr>

* É um dos indicadores da síndrome da dependência.

* Só deve ser utilizado se o quadro apresentar-se grave o suficiente para requerer atenção médica.

* Pode apresentar sintomas físicos e/ou psicológicos, conforme a droga utilizada.
* O uso da droga reverte inteiramente o quadro.

<hr>

---

#### Diretrizes diagnósticas da CID-10 para 
#### Transtorno Psicótico pelo Uso de Substância Psicoativa (F1x.5)

<hr>

* Ocorre durante ou imediatamente após o uso de drogas (usualmente dentro de 48 horas).

* O quadro pode apresentar vários padrões psicóticos conforme a droga utilizada, como esquizofreniforme, delirante, alucinatório, polimorfo, depressivo e maníaco.

<hr>

---

#### Diretrizes diagnósticas da CID-10 para Síndrome Amnéstica (F1x.6)

<hr> 

* Comprometimento da memória como exibido em __comprometimento de memória recente__; perturbações no sentido de tempo.

* __Ausência de distúrbio de memória imediata__, de comprometimento da consciência e de comprometimento cognitivo generalizado.

* História ou evidência de uso crônico da substância.

<hr>

---

### Substâncias

* Álcool;
* Opióides (ópio, morfina, heroína);
* Canabinóides; 
* Benzodiazepínicos (ansiolíticos, sedativos, hipnóticos, anticonvulsionantes, etc.);
* Bartituratos (sedativos, hipnóticos, anticonvulsionantes e anestésicos);

<p style="text-align:right;">__(Continua...)__</p>
---

### Substâncias

* Cocaína;
* Estimulantes (anfetamina e outros);
* Alucinógenos (cogumelos, mescalina, LSD);
* Nicotina;
* Cafeína;
* Solventes voláteis (gasolina, removedor de verniz, fluido para isqueiro, cola, etc.).

</script>
</section>

<style>.h-esquizo header:after { content: "Esquizofrenia"; }</style>
<section data-markdown data-state="h-esquizo" data-separator="---" id="esquizo">
    <script type="text/template">

#### Diretrizes diagnósticas da CID-10 para Esquizofrenia 

<hr>

##### Características Essenciais (Primeira Ordem)

Presença de __pelo menos um__ dos seguintes sintomas, durante __pelo menos um mês__:

__a)__ Eco do __pensamento__, inserção ou roubo do pensamento, irradiação do pensamento;
<br>
__b)__ __Delírios de controle, influência ou passividade__ claramente referindo-se ao corpo ou movimentos dos membros ou pensamentos específicos, ações ou sensações; percepção delirante;

<hr>

<p style="text-align:right;">__(Continua...)__</p>

</script>
</section>

<section data-markdown data-state="h-esquizo" data-separator="---">
    <script type="text/template">

<hr>

##### Características Essenciais (Primeira Ordem)

__c)__ __Vozes alucinatórias__ comentando o comportamento do paciente ou discutindo entre elas sobre o paciente ou outros tipos de vozes alucinatórias vindo de alguma parte do corpo;

__d)__ __Delírios persistentes__ de outros tipos que são culturalmente inapropriados e completamente impossíveis, tais como identidade política ou religiosa ou poderes e capacidades sobre-humanas.

<hr>

<p style="text-align:right;">__(Continua...)__</p>

---

<hr>

##### Características de Segunda Ordem

Presença de sintomas de __pelo menos dois__ dos seguintes subgrupos, durante o período mínimo de __um mês__:

__a)__ __Alucinações persistentes__ de qualquer modalidade, quando acompanhadas por delírios “superficiais” ou parciais, sem claro conteúdo afetivo, ou por ideias sobrevalorizadas persistentes ou quando ocorrem todos os dias durante semanas ou meses continuamente;  
__b)__ Intercepções ou interpolações no __curso do pensamento__ resultado em discurso incoerente ou neologismos;  
__c)__ __Comportamento catatônico__, tal como excitação, postura inadequada ou flexibilidade cérea, negativismo, mutismo e estupor;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  __(Continua...)__

<hr>

---

<hr>

##### Características de Segunda Ordem 

__d)__ __Sintomas “negativos”__, tais como apatia marcante, pobreza do discurso e embotamento ou incongruência de respostas emocionais, usualmente resultando em retraimento social e diminuição do desempenho social; deve ficar claro que esses sintomas não são decorrentes de depressão ou medicação neuroléptica.  

* Ausência de sintomas depressivos ou maníacos nítidos.

* Ausência de doenças cerebrais, intoxicações por drogas ou síndromes de abstinência.

<hr>

---

### Formas clínicas

<dl>
  <dt>Esquizofrenia Paranóide (F 20.0)</dt>
  <dd>O quadro clínico é dominado por __delírios__ relativamente estáveis, usualmente acompanhados por __alucinações__, sobretudo auditivas, além de outras alterações perceptivas.</dd>
<br>
  <dt>__Esquizofrenia Hebefrênica__ (F 20.1)</dt>
  <dd>__Alterações afetivas__ são dominantes. O afeto é inadequado e, muitas vezes, acompanhado por risos imotivados, caretas e maneirismos. Os delírios e alucinações são fugazes e fragmentários. O pensamento é desorganizado e o discurso incoerente e cheio de divagações.</dd>
</dl>

---

### Formas clínicas

<dl>
  <dt>Esquizofrenia Catatônica (F 20.2)</dt>
  <dd>__Distúrbios psicomotores__ dominantes são aspectos essenciais e podem se alternar entre extremos, tais como hipercinesia (com agitação frequente) e estupor ou obediência automática e negativismo.</dd>
<br>
  <dt>Esquizofrenia indiferenciada (F 20.3)</dt>
  <dd>Condições que não se adequam a nenhum dos subtipos.</dd>
<br>
  <dt>Depressão Pós-Esquizofrênica (F 20.4)</dt>
  <dd>Um episódio depressivo, que pode ser prolongado, surgindo após o início do transtorno esquizofrênico. Alguns sintomas esquizofrênicos devem ainda estar presentes, mas não dominam o quadro clínico.</dd>
</dl>

---

### Formas clínicas

<dl>
  <dt>Esquizofrenia Residual (F 20.5)</dt>
  <dd>__Um estágio mais tardio e crônico__, resultado de uma progressão clara do quadro, caracterizado por sintomas “negativos” de __longa duração__, embora não necessariamente irreversíveis.</dd>
<br>
  <dt>Esquizofrenia Simples (F 20.6)</dt>
  <dd>Um quadro raro no qual há desenvolvimento insidioso mas progressivo de conduta estranha, incapacidade para atender às exigências da sociedade e um declínio no desempenho total. No DSM, é considerada um __transtorno de personalidade (“esquizotípica”)__.</dd>
</dl>

</script>
</section>

<style>.h-outros header:after { content: "Outros Transtornos Psicóticos"; }</style>
<section data-markdown data-state="h-outros" data-separator="---" id="outros">
    <script type="text/template">

##### Diretrizes diagnósticas da CID-10 para 
##### Transtorno Psicótico Agudo e Transitório (F23) <hr>

* Início agudo.
* Presença de síndrome psicótica típica, mas __não suficiente para preencher outro critério diagnóstico__.
* Presença de __estresse agudo__ associado.

<hr>

__Obs.__: Dura entre um dia e um mês.

</script>
</section>

<section data-markdown data-state="h-outros" data-separator="---">
    <script type="text/template">

##### Diretrizes diagnósticas da CID-10 para Transtorno Esquizofreniforme (F23.2)

<hr>

* O início dos sintomas psicóticos deve ser agudo: duas semanas ou menos.
* __Sintomas que preenchem os critérios para esquizofrenia__ devem estar presentes na maior parte do tempo, desde o estabelecimento do quadro clínico.
* Se os sintomas durarem mais de um mês, o diagnóstico deve ser mudado para esquizofrenia.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para Transtorno Esquizoafetivo (F25)

<hr>

* Este diagnóstico deve ser feito apenas quando __ambos sintomas esquizofrênicos e afetivos definitivos são proeminentes simultaneamente__.
* O episódio __não__ satisfaz os critérios para esquizofrenia ou para episódio depressivo ou maníaco.
* Alguns pacientes apresentam episódios esquizoafetivos recorrentes, os quais podem ser do tipo maníaco ou depressivo recorrente ou uma mescla dos dois.

<hr>

__Obs.__: Após o desaparecimento das manifestações do humor, as psicóticas permanecem por um período maior do que duas semanas.

---

##### Diretrizes diagnósticas da CID-10 para Transtorno Delirante (F22.0)

<hr>
* Desenvolvimento de __um delírio isolado ou de um conjunto de delírios__ relacionados entre si, que são usualmente persistentes e muitas vezes duram toda a vida.
* Os delírios são frequentemente persecutórios, hipocondríacos ou grandiosos, mas podem estar relacionados com litígios, ciúmes, etc.
* Alucinações claras e persistentes, delírios de controle e embotamento afetivo marcante são __incompatíveis__ com esse diagnóstico.
* O início é comumente na meia-idade.
* Excetuando-se as ações e atitudes diretamente relacionadas ao delírio, o afeto, a fala e o comportamento são normais.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para Transtorno Delirante Induzido (F24)

<hr>

* __Duas ou mais pessoas__ partilham o mesmo delírio ou sistema delirante e apoiam-se reciprocamente nessa crença.
* Elas mantêm um __relacionamento inusualmente íntimo__.
* Existe uma evidência temporal ou outra contextual de que o delírio foi induzido no(s) membro(s) passivo(s) por contato com o membro ativo.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para Psicose Pós-Parto (F53)

“É um quadro psicótico que ocorre após o parto e se caracteriza por __delírios e depressão grave__. 
Pensamentos de agressão ao recém-nato podem ocorrer”.

<hr>
* Deve ser usada apenas para transtornos mentais __associados no puerpério__ (iniciando dentro de seis semanas após o parto) e que __não__ satisfaçam os critérios para outros transtornos.

<hr>

</script>
</section>

<style>.h-humor header:after { content: "Transtornos do Humor"; }</style>
<section data-markdown data-state="h-humor" data-separator="---" id="humor">
    <script type="text/template">

##### Diretrizes diagnósticas da CID-10 para Episódio Depressivo (F32)

<hr>

Os episódios depressivos típicos, nos três níveis de gravidade (leve, moderado e grave), caracterizam-se pelos seguintes sintomas:

* Humor deprimido;
* Perda de interesse e prazer;
* Energia reduzida levando a uma fatigabilidade aumentada;
* Atividade diminuída;  

<hr>
<p style="text-align:right;">__(Continua...)__</p>

</script>
</section>

<section data-markdown data-state="h-humor" data-separator="---">
    <script type="text/template">

##### Diretrizes diagnósticas da CID-10 para Episódio Depressivo (F32)
<hr>
* Visões desoladas e pessimistas do futuro ;
* Ideias de culpa e inutilidade;
* Ideias ou atos autolesivos ou suicídio;
* Sono perturbado;
* Apetite diminuído.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para Mania (F30)
<hr>
* __O humor está desproporcionalmente elevado__ em relação às circunstâncias do indivíduo e pode variar de uma jovialidade despreocupada a uma excitação quase incontrolável.
* Há __aumento de energia__, com __hiperatividade__, __logorréia__ e diminuição da necessidade de __sono__.
* __Inibições sociais__ normais são perdidas.
* A __atenção__ não pode ser mantida.
* A __autoestima__ está inflada e grandiosidade ou __ideias superotimistas__ são livremente expressas.
* Podem ocorrer sintomas psicóticos.

<hr>
---

##### Diretrizes diagnósticas da CID-10 para Distimia (F34.1)
“É uma forma de depressão crônica, não-episódica e de gravidade menor que as chamadas ‘depressões maiores’”.
<hr>
* __Depressão do humor muito duradoura__.
* Começa no início da vida adulta e dura vários anos, às vezes indefinidamente.
* Os sintomas __não são tão graves__ como em um episódio depressivo.
* Os pacientes se preocupam e se queixam, dormem mal e sentem-se inadequados, mas são capazes de lidar com as exigências básicas do dia-a-dia.

<hr>
---

##### Diretrizes diagnósticas da CID-10 para Ciclotimia (F34.0)
“Caracteriza-se por episódios de depressão leve que se alternam com hipomania, como se fosse uma forma atenuada de transtorno bipolar do humor”
<hr>
* __Instabilidade persistente do humor__, envolvendo numerosos períodos de depressão e elação leves.
* Podem ocorrer períodos intercalados de humor normal e estável.
* Começa no início da vida adulta e segue um curso crônico.
* As oscilações do humor são usualmente percebidas pelo indivíduo como não relacionadas aos eventos de vida.

<hr>

</script>
</section>

<style>.h-ansiedade header:after { content: "Transtornos de Ansiedade"; }</style>
<section data-markdown data-state="h-ansiedade" data-separator="---" id="ansiedade">
    <script type="text/template">

### Conceitos básicos

<dl>
  <dt>Ansiedade normal</dt>
  <dd>É um __sinal de alerta__ que permite ao indivíduo ficar atento a um perigo iminente e tomas as medidas necessárias para lidar com a ameaça.</dd>
<br>
  <dt>Ansiedade patológica</dt>
  <dd>Uma __resposta inadequada__ a determinado estímulo. Diferentemente da ansiedade normal, a patológica paralisa o indivíduo, traz prejuízo ao seu bem-estar e ao seu desempenho, e não permite que ele se prepare e enfrente as situações ameaçadoras.</dd>
</dl>

</script>
</section>

<section data-markdown data-state="h-ansiedade" data-separator="---">
    <script type="text/template">

### Transtorno de Pânico

* Os aspectos essenciais são __ataques de ansiedade aguda e grave__, recorrentes (ataques de pânico), os quais não estão restritos a qualquer situação ou conjunto de circunstâncias específicas.

* __Duram menos de uma hora__, quase sempre apenas alguns minutos, atingindo o máximo de intensidade em dez minutos.

---

##### Diretrizes diagnósticas da CID-10 para Transtorno de Pânico (F41)
<hr>
* Vários ataques graves de ansiedade autonômica – ataques de pânico – deve ter ocorrido __em cerca de um mês__:
* Em circunstâncias em que não há perigo;
* Sem estarem confinados a situações conhecidas ou previsíveis;
* Com relativa ausência de sintomas ansiosos entre os ataques.

<hr>
---

### Agorafobia

* O termo “Agorafobia” significa medo de lugares abertos.

* Na prática clínica, __designa medo de sair de casa ou de situações nas quais o socorro imediato não é possível__. 

* O termo, portanto, refere-se a um grupamento inter-relacionado e frequentemente sobreposto de fobias como: sair de casa, entrar em lugares fechados (aviões, elevadores, cinemas), multidões, lugares públicos, permanecer em uma fila, viajar ou distanciar-se de casa.

---

##### Diretrizes diagnósticas da CID-10 para Agorafobia (F40.0)

<hr>

* Os sintomas psicológicos e autonômicos devem ser primariamente manifestações de ansiedade e não secundários a outros sintomas, tais como delírios ou pensamentos obsessivos.
* A ansiedade deve estar __restrita a pelo menos duas__ das seguintes situações: multidões, lugares públicos, viajar para longe de casa e viajar sozinho.
* A evitação da situação fóbica deve ser ou estar sendo um aspecto proeminente.

<hr>

---

### Transtorno de Ansiedade Generalizada 

* É __um transtorno crônico de ansiedade__, caracterizado por preocupações irrealistas ou excessivas, com diversos sintomas somáticos.

* O aspecto essencial é a __ansiedade generalizada e persistente__, não restrita a uma situação ambiental ou objeto específico.

---

##### Diretrizes diagnósticas da CID-10 para Transtorno de Ansiedade Generalizada (F41.1)

<hr>

* O paciente deve ter sintomas primários de ansiedade __na maioria dos dias__, por __pelo menos várias semanas__, e usualmente por vários meses.
* Esses sintomas devem usualmente envolver elementos de:
    * __Apreensão__ (preocupações sobre desgraças futuras, sentir-se “no limite”, dificuldade de concentração, etc.);
    * __Tensão motora__ (movimentação inquieta, cefaleias tensionais, tremores, incapacidade de relaxar);
    * __Hiperatividade autonômica__ (sensação de cabeça leve, sudorese, taquicardia ou taquipnéia, desconforto epigástrico, tonturas, boca seca, etc.).

<hr>

---

##### Diretrizes diagnósticas da CID-10 para  Transtorno misto de ansiedade e depressão (F41.2)
<hr>
* Há sintomas de ansiedade e depressão presentes, porém nenhum conjunto de sintomas, considerado separadamente, justifica um outro diagnóstico.
* Sintomas autonômicos estão presentes.

<hr>

---

### Fobia social

* A fobia social é o medo patológico de comer, beber, tremer, enrubescer, falar, escrever, enfim, de __agir de forma ridícula__ na presença de outras pessoas.
* A fobia social pode ser:
    - __Circunscrita__: restrita a apenas um tipo de situação. (ex.: escrever na frente dos outros).
    - __Generalizada__: temor a todas ou quase todas as situações sociais. A esquiva é marcante e, em casos extremos, pode resultar em isolamento social.

---

##### Diretrizes diagnósticas da CID-10 para Fobia Social (F40.1)
<hr>
* Os sintomas psicológicos, comportamentais ou autonômicos devem ser primariamente manifestações de ansiedade e não secundários a outros sintomas, tais como delírios ou pensamentos obsessivos.
* A ansiedade deve ser restrita ou predominar __em situações sociais__.
* A evitação das situações fóbicas deve ser um aspecto proeminente.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para Fobias Específicas (F40.2)
<hr>
* Os sintomas psicológicos ou autonômicos deve ser manifestações primárias de ansiedade e não secundários a outros sintomas, tais como delírio ou pensamento obsessivo.
* A ansiedade deve estar __restrita à presença do objeto ou situação fóbica determinada__ (animais, altura, trovão, escuridão, voar, espaços fechados, sangue, etc.).
* A situação fóbica é evitada sempre que possível.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para Transtorno Obsessivo-Compulsivo (F42)
<hr>
* Os sintomas obsessivos, atos compulsivos ou ambos devem estar presentes __na maioria dos dias por pelo menos duas semanas consecutivas__ e ser fonte de ansiedade ou de interferência com as atividades.
* Os sintomas devem ser reconhecidos como pensamentos ou impulsos do próprio indivíduo.
* Deve haver __pelo menos um pensamento ou ato que ainda é resistido__, sem sucesso, ainda que possam estar presentes outros aos quais o paciente não resiste mais.
* O pensamento de execução do ato não deve ser em si mesmo prazeroso.
* Os pensamentos, imagens ou impulsos devem ser desagradavelmente repetidos.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para Transtorno de Estresse Pós-Traumático (F43.1)
<hr>
* __Repetidas revivescências__ do trauma sob forma de memórias intrusas (flash back) ou sonhos.
* Medo e evitação de indicativos que relembrem ao paciente o trauma original.
* Ansiedade e depressão estão comumente associadas aos sintomas.
* O início segue ao trauma com um __período de latência__ que pode variar de poucas semanas a meses (mas raramente excede seis meses).
* Pode apresentar curso crônico.

<hr>

</script>
</section>

<style>.h-personalidade header:after { content: "Transtornos de Personalidade"; }</style>
<section data-markdown data-state="h-personalidade" data-separator="---" id="persona">
    <script type="text/template">

### Conceitos básicos

* Um transtorno de personalidade (TP) traduz um distúrbio grave do comportamento, envolvendo todas as áreas de atuação da pessoal, resultando em considerável ruptura pessoal e social. 
* Apesar de as teorias etiológicas concordarem que os indivíduos com TP já trazem essa predisposição ao nascer, o distúrbios do comportamento só começam a ser notados no final da infância ou na adolescência.
* O diagnóstico com maior certeza só pode ser dado após os 18 anos de idade.

</script>
</section>

<section data-markdown data-state="h-personalidade" data-separator="---">
    <script type="text/template">

### Conceitos básicos

Todos os TP têm em comum alguns __aspectos básicos__:
* __Atitudes e condutas marcadamente desarmônicas__, envolvendo todas as áreas de funcionamento (trabalho, família e sociedade);
* O padrão anormal de comportamento é constante, de __longa duração__;
* É __invasivo__ e claramente __mal-adaptado__;
* As manifestações sempre aparecem __durante a infância ou adolescência__ e continuam pela vida adulta;
* O transtorno resulta sempre em problemas no __desempenho social e ocupacional__.

---

##### Diretrizes diagnósticas da CID-10 para TP Paranóide (F60.0)
<hr>
* Sensibilidade excessiva a contratempos e rejeições.
* Tendência a guardar rancores.
* Desconfiança com um combativo senso de direitos pessoais em desacordo com a situação real.
* Suspeitas recorrentes, sem justificativas.
* Autovalorização excessiva, com auto-referência.
* Preocupação com explicações “conspiratórias”.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para TP Esquizóide (F60.1)
<hr>
* Poucas atividades produzem prazer.
* Frieza emocional, afetividade distanciada ou embotada.
* Capacidade limitada para expressar sentimentos calorosos ou raiva para com os outros.
* Indiferença aparente a elogios ou críticas.
* Pouco interesse em experiências sexuais.
* Preferência por atividades solitárias.
* Preocupação excessiva com fantasia e introspecção.
* Falta de amigos íntimos ou confidentes.
* Insensibilidade marcante com normas e convenções sociais predominantes.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para TP Esquizotípico (F21)
<hr>
* Afeto inapropriado e constrangido.
* Comportamento ou aparência que é estranho, excêntrico ou peculiar.
* Retraimento social.
* Crenças estranhas e pensamento mágico.
* Suspeita ou ideias paranóides.

<hr>
<p style="text-align:right;">__(Continua...)__</p>

---

##### Diretrizes diagnósticas da CID-10 para TP Esquizotípico (F21)
<hr>
* Ruminações obsessivas sem resistência interna.
* Experiências perceptivas pouco usuais, como ilusões, despersonalização ou desrealização.
* Pensamento vago, circunstancial, metafórico, estereotipado.
* Episódios quase psicóticos ocasionais e transitórios.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para TP Anti-Social (F60.2)<hr>
* Indiferença pelos sentimentos alheios.
* Atitude flagrante e persistente de irresponsabilidade e desrespeito por normas, regras e obrigações sociais.
* Incapacidade para manter relacionamentos.
* Baixa tolerância à frustação, com baixo limiar para descarga de agressão.
* Ausência de culpa ou de aprendizado com a experiência.
* Propensão marcante para culpar os outros ou para oferecer racionalizações plausíveis para o comportamento conflituoso.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para TP Emocionalmente Instável (F60.3)
<hr>
* Impulsividade sem consideração das consequências.
* Instabilidade afetiva.
* Capacidade de planejar o futuro comprometida.
* Acessos de raiva.

<hr>
__Obs.__: Existem __dois subtipos__: Impulsivo e Borderline.

---

### TP Emocionalmente Instável

__Tipo impulsivo (F60.30)__

* Instabilidade emocional e falta de controle dos impulsos.
* Acessos de violência ou comportamento ameaçador são comuns, particularmente em resposta à crítica de outros ou pequenos sinais de rejeição.

---

__Tipo Borderline (F60.31)__

* Instabilidade emocional, com auto-imagem, objetivos e preferências internas (incluindo a sexual) pouco claras ou perturbadas.
* Sentimentos crônicos de vazio.
* Apresentam síndrome depressiva intensa, com ideias de suicídio, de curta duração e associadas a sentimentos de rejeição.
* Os relacionamentos são intensos (ódio ou amor) e instáveis, causando repetidas crises emocionais, com esforços excessivos para evitar abandono (ameaças de suicídio ou autolesão)

---

##### Diretrizes diagnósticas da CID-10 para TP Histriônica (F60.4)
<hr>

* Autodramatização, teatralidade, expressão exagerada das emoções.
* Sugestionabilidade.
* Afetividade superficial e lábil.
* Necessidade de ser o centro das atenções.
* Sedução inapropriada em aparência e comportamento.
* Preocupação excessiva com aparência e atração física.
   
<hr>

---

##### Diretrizes diagnósticas da CID-10 para Personalidade Anancástica (F60.5)
<hr>
* Dúvida e cautela excessivas.
* Preocupação com detalhes, regras, listas, ordem, organização ou esquemas.
* Perfeccionismo que interfere com a conclusão das tarefas.
* Consciencioso em excesso, escrupulosidade e preocupação indevida com produtividade, com exclusão do prazer e das relações interpessoais.

<hr>
<p style="text-align:right;">__(Continua...)__</p>

---


##### Diretrizes diagnósticas da CID-10 para Personalidade Anancástica (F60.5)
<hr>
* Pedantismo e aderência excessivos às convenções sociais.
* Rigidez e teimosia.
* Insistência não-razoável para que os outros se submetam exatamente à sua maneira de fazer as coisas.
* Intrusão de pensamentos ou impulsos insistentes e inoportunos.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para TP Ansiosa (F60.6)
<hr>
* Tensão e apreensão persistentes e evasivas.
* Crença de ser socialmente inepto, desinteressante ou inferior.
* Preocupação excessiva em ser criticado ou rejeitado em situações sociais.
* Relutância em se envolver com pessoas, a não ser com a certeza de ser aceito.
* Restrições no estilo de vida devido à necessidade de segurança física.
* Evitação de atividades sociais e ocupacionais que envolvam contato interpessoal significativo por medo de críticas, desaprovação ou rejeição.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para TP Dependente (F60.7)
<hr>
* Encoraja ou permite que outros tomem a maioria das decisões importantes para sua vida.
* Subordinação de suas próprias necessidades àquelas dos outros.
* Relutância em fazer exigências, ainda que razoáveis.
* Sente-se inconfortável ou desamparado quando sozinho por medo exagerado de autocuidar-se.
* Preocupação e medo de ser abandonado.
* Capacidade limitada de tomas decisões cotidianas sem um excesso de conselhos e reasseguramentos pelos outros.

<hr>

---

### TP Narcisista

Não há esse diagnóstico na CID-10, mas os autores optaram por mencionar.
* Caracteriza-se por um padrão generalizado de grandiosidade (na fantasia e comportamento), falta de empatia e hipersensibilidade à avaliação pelos outros.
* Reage às críticas com sentimento de raiva, vergonha ou humilhação.
* Explora os sentimentos interpessoais para atingir seus objetivos.
* Preocupa-se com fantasias de sucesso ilimitado, poder, amor ideal e beleza.
* Espera sempre ser tratado de modo muito especial devido às suas qualidades, exigindo constante atenção e admiração.
* Preocupa-se com sentimos de inveja, mas é incapaz de reconhecer ou experimentar o que os outros sentem.

</script>
</section>

<style>.h-somadisso header:after { content: "Transtornos Somatomorfos e Dissociativos"; }</style>
<section data-markdown data-state="h-somadisso" data-separator="---" id="somadisso">
    <script type="text/template">

### Conceitos básicos

__Transtornos Somatomorfos__

São diferentes quadros que apresentam __queixas físicas__ para as quais não há anormalidades no exame físico ou laboratorial que justifiquem o quadro.

__Transtornos Dissociativos__

Recebiam o nome de “neurose histérica”. Têm em comum __sintomas neuropsiquiátricos__ sem respaldo anatomopatológico.

</script>
</section>

<style>.h-soma header:after { content: "Transtornos Somatomorfos"; }</style>
<section data-markdown data-state="h-soma" data-separator="---">
    <script type="text/template">

##### Diretrizes diagnósticas da CID-10 para Transtorno de Somatização (F45.0)
<hr>

* Pelo menos dois anos de sintomas físicos múltiplos e variáveis para os quais nenhuma explicação adequada foi encontrada.
* Recusa persistente de aceitar a informação ou o reasseguramento de diversos médicos de que não há explicação física para os sintomas.
* Certo grau de comprometimento do funcionamento social e familiar atribuível à natureza dos sintomas e ao comportamento resultante.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para Transtorno Doloroso Somatomorfo Persistente (F45.4)
<hr>
* Dor persistente, grave e angustiante, a qual não pode ser plenamente explicada por um processo fisiológico ou por um transtorno físico.
* Há associação a conflito emocional ou a problemas psicossociais.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para Transtorno Hipocondríaco (F45.2)
<hr>
Os seguintes critérios devem estar presentes:
* Crença persistente na presença de pelo menos uma doença física séria causando o sintoma ou sintomas apresentados, ainda que investigações e exames repetidos não tenham identificado qualquer explicação física adequada, ou uma preocupação persistente com uma suposta deformidade ou desfiguramento.
* Recusa persistente de aceitar a informação ou reasseguramento de vários médicos diferentes de que não há nenhuma doença ou anormalidade física causando os sintomas.

<hr>

---

### Transtorno Dismórfico corporal
* Há uma excessiva preocupação com algum “defeito” imaginado na aparência.
* Embora leves anomalias possam estar presentes, a preocupação é desproporcional.
* Existe um persistente sentimento subjetivo de anormalidade corporal.
* Ocorre uma procura por cirurgia corretiva.
* __Não é classificado na CID-10 independentemente__. Os pacientes com sintomas de preocupação excessiva com um defeito imaginário da aparência são classificados como hipocondríacos.

</script>
</section>

<style>.h-disso header:after { content: "Transtornos Dissociativos"; }</style>
<section data-markdown data-state="h-disso" data-separator="---">
    <script type="text/template">

### Amnésia Dissociativa
* Caracteriza-se pela perda de memória parcial, seletiva ou completa, usualmente para eventos recentes e importantes, a qual não é decorrente de transtorno mental orgânico.
* Em geral, o início é súbito e a capacidade para aprender novas informações é retida.
* É __centrada em eventos traumáticos__, como acidentes ou perdas inesperadas.
* O término geralmente é abrupto e a recuperação é completa.

---

##### Diretrizes diagnósticas da CID-10 para Amnésia Dissociativa (F44.0)
<hr>

* Amnésia parcial ou completa para eventos recentes que são de natureza traumática ou estressante.
* Ausência de transtornos mentais orgânicos, intoxicação ou fadiga excessiva.

<hr>

---

### Fuga Dissociativa
* __Tem todos os aspectos da amnésia dissociativa__ mais __uma jornada__ aparentemente propositada para longe de casa ou do local de trabalho, durante o qual o cuidado consigo mesmo é mantido.
* Embora haja amnésia para o período de fuga, o comportamento do indivíduo durante esse tempo é completamente normal para observadores independentes.
* O transtorno é raro. O fator motivador essencial parece ser o desejo de se afastar de experiências emocionalmente dolorosas.

---

##### Diretrizes diagnósticas da CID-10 para Fuga Dissociativa (F44.0)
<hr>
* Presença dos critérios de Amnésia Dissociativa.
* Percurso propositado para além dos limites cotidianos usuais.
* Manutenção dos cuidados básicos consigo mesmo e da interação social simples com estranhos.

<hr>

---

### Transtorno de Personalidade Múltipla
* O aspecto essencial é a existência aparente de duas ou mais personalidades distintas dentro de um indivíduo, com apenas uma delas evidenciando-se a cada momento.
* Na forma mais usual, uma personalidade é dominante, mas nenhuma tem acesso às memórias da outra e ambas estão alheias à existência da outra.
* A transição de uma personalidade para outra é súbita.

---

##### Diretrizes diagnósticas da CID-10 para Transtorno de Personalidade Múltipla (F44.81)
<hr>
* Existência aparente de duas ou mais personalidades distintas dentro de um indivíduo, com apenas uma delas evidenciando-se a cada momento.
* Cada personalidade é completa, com suas memórias, comportamentos e preferências.

<hr>

---

### Transtornos Conversivos (F44)
* É um transtorno envolvendo __uma perda ou alteração no funcionamento corporal__ que não pode ser explicada por qualquer alteração fisiopatológica.
* O conflito psicológico está no inconsciente e o sintoma físico não está sob controle voluntário.
* __Ganho primário__: Os sintomas permitem a expressão parcial do desejo ou necessidade proibida, mas disfarçam-na de modo que os pacientes não necessitem enfrentar seus impulsos inaceitáveis.
* __Ganho secundário__: vantagens e benefícios como ser dispensada de obrigações, ter uma atenção maior de familiares, receber apoio, etc.

---

##### Diretrizes diagnósticas da CID-10 para Síndrome de Despersonalização-Desrealização (F44.81)
<hr>
Deve haver o primeiro e/ou o segundo critério, __mais__ o terceiro e/ou quarto critério.
1. __Despersonalização__: o indivíduo sente que seus próprio sentimentos e/ou experiências estão separados, distantes, não são seus, perderam-se.
2. __Desrealização__: objetos, pessoas e/ou o ambiente parecem irreais, distantes, artificiais, descoloridos, sem vida.
3. Uma aceitação de que a síndrome é uma alteração subjetiva e espontânea.
4. Sensório claro e ausência de estado confusional tóxico ou epilepsia.

<hr>

</script>
</section>

<style>.h-alimentares header:after { content: "Transtornos Alimentares"; }</style>
<section data-markdown data-state="h-alimentares" data-separator="---" id="alim">
    <script type="text/template">

### Conceitos básicos
* Os indivíduos com transtorno alimentar são __patologicamente preocupados com peso__ e forma física e têm um __forte desejo de emagrecer__, independente do peso que apresentem.
* Os pacientes tendem a ser __rígidos e perfeccionistas__.
* __O comportamento sexual é frequentemente deficiente__. Pacientes adultas têm interesse diminuído por sexo.
* __O comportamento social__ pode não ser compatível com a idade.

</script>
</section>

<section data-markdown data-state="h-alimentares" data-separator="---">
    <script type="text/template">

##### Diretrizes diagnósticas da CID-10 para Anorexia Nervosa (F50.0)
<hr>

* Peso corporal mantido em pelo menos 15% abaixo do esperado ou índice da massa corporal – peso (kg) dividido pelo quadrado da altura (m) – em 17,5 ou menos.
* A perda de peso é auto-induzida por __abstenção de “alimentos que engordam”__ e __um ou mais__ dos que se seguem: vômitos auto-induzidos; purgação auto-induzida; exercício excessivo; uso de anorexígenos e/ou diuréticos.
* __Distorção da imagem corporal__ na forma de uma psicopatologia específica por meio da qual o pavor de engordar persiste como uma ideia intrusiva e sobrevalorizada e o paciente impõe um baixo limiar de peso a si próprio.

<hr>
<p style="text-align:right;">__(Continua...)__</p>
---

##### Diretrizes diagnósticas da CID-10 para Anorexia Nervosa (F50.0)
<hr>

* __Transtorno endócrino generalizado__ envolvendo o eixo hipotalâmico-hipofisário-gonadal, manifestado em mulheres como amenorreia e em homens como perda de interesse e potência sexuais. Pode também haver níveis elevados de hormônio de crescimento, níveis aumentados de cortisol, alterações no metabolismo periférico do hormônio tireoidiano e anormalidades de secreção de insulina.
* Se o início é pré-puberal, a sequência de eventos da puberdade é demorada ou mesmo detida (o crescimento cessa; os seios não se desenvolvem; amenorreia primária; os genitais não se desenvolvem).

<hr>
---

##### Diretrizes diagnósticas da CID-10 para Bulimia Nervosa (F50.2)
<hr>
* __Preocupação persistente com o comer e um desejo irresistível de comida__; o paciente sucumbe a episódios de hiperfagia, nos quais grandes quantidades de alimento são consumidas em curtos períodos de tempo.
* O paciente tenta __neutralizar os “efeitos de engordar”__ dos alimentos através de __um ou mais__ do que se seguem: vômitos auto-induzidos; abuso de purgantes; períodos alternados de inanição; uso de drogas, tais como anorexígenos, hormônios tireoidianos ou diuréticos.

<hr>
<p style="text-align:right;">__(Continua...)__</p>

---

##### Diretrizes diagnósticas da CID-10 para Bulimia Nervosa (F50.2) <hr>

* __Pavor mórbido de engordar__ com a colocação para si mesmo de um limiar de peso nitidamente definido, bem abaixo de seu peso pré-mórbido, que constitui o peso ótimo ou saudável na opinião do médico. Há frequentemente episódio prévio de anorexia nervosa.

<hr>

---

### Tratamento

* O primeiro objetivo no tratamento da anorexia é __restaurar o estado nutricional__, evitando que as complicações do emagrecimento possam levar à morte.
* Em ambos os transtornos, é fundamental que o tratamento seja __multidisciplinar__.
* O __apoio familiar__ ao tratamento é primordial. Orientação aos membros da família sobre o que é e como lidar com estes pacientes pode facilitar o tratamento e melhorar o prognóstico.

</script>
</section>

<style>.h-sono header:after { content: "Transtornos do Sono"; }</style>
<section data-markdown data-state="h-sono" data-separator="---" id="sono">
    <script type="text/template">

### Conceitos básicos
* O sono deve ser entendido como atividade nervosa superior, indispensável para a manutenção do bem-estar e da qualidade de vida dos indivíduos.
* Tem função de termoregulação e de controle de energia.
* Queixas de insônia crônica e sono excessivo são frequentes na clínica diária. Os transtornos do sono são, muitas vezes, __associados aos transtornos mentais__.

</script>
</section>

<section data-markdown data-state="h-sono" data-separator="---">
    <script type="text/template">

### Conceitos básicos
A CID-10 divide os transtorno do sono em __dois grandes grupos__:

__Dissonias__

Situações primariamente psicogênicas; o distúrbio é predominante na __quantidade, qualidade ou regulação__ do sono (insônia, hipersônia e transtorno do ciclo sono-vigília).

__Parassonias__

Situações episódicas __anormais e indesejáveis__ (sonambulismo, terror noturno e pesadelos).

---

##### Diretrizes diagnósticas da CID-10 para Insônia Não-Orgânica (F51.0)
<hr>

* A queixa é tanto de dificuldade de adormecer quanto de se manter dormindo ou de pobre qualidade de sono.
* Ocorre pelo menos __três vezes por semana__ durante pelo menos __um mês__.
* Há preocupação com a falta de sono e consideração excessiva sobre suas consequências à noite e durante o dia.
* A quantidade e/ou qualidade insatisfatória de sono causa angústia marcante ou interfere com o funcionamento social e ocupacional.

<hr>

---

#### Diretrizes diagnósticas da CID-10 para Hipersônia Não-Orgânica (F51.1)
<hr>

* Sonolência diurna excessiva ou ataques de sono, não explicados por uma quantidade inadequada de sono, ou transição prolongada para o estado plenamente vigil após o despertar.
* Ocorre __diariamente por mais de 1 mês__ ou por __períodos recorrentes de menor duração__, causando angústia marcante ou interferência com o funcionamento social ou ocupacional.
* Ausência de sintomas auxiliares de narcolepsia ou de evidência clínica de apnéia do sono.
* Ausência de qualquer condição médica da qual a sonolência possa ser sintomática.

<hr>

---

#### Diretrizes diagnósticas da CID-10 para Transtornos Não-Orgânicos do Ciclo Sono-Vigília (F51.2)
<hr>

* O padrão sono-vigília do indivíduo está fora de sincronia com o ciclo sono-vigília que é normal para uma sociedade em particular e compartilhado pela maioria das pessoas no mesmo ambiente cultural.
* Insônia durante o principal período de sono e hipersônia durante o período de vigília são experimentados __quase todos os dias por pelo menos um mês__ ou __recorrentemente por períodos mais curtos de tempo__.
* A quantidade, qualidade e regulação insatisfatórias do sono causam angústia marcante ou interferem com o funcionamento social ou ocupacional.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para Sonambulismo (F51.3)
<hr>
* O sintoma predominante é um ou mais episódios de __levantar da cama__, usualmente durante o primeiro terço do sono noturno __e andar__.
* Durante o episódio, o indivíduo tem uma face fixa e inexpressiva e está relativamente não-responsivo aos esforços de outros e pode ser despertado somente com considerável dificuldade.

<hr> 
<p style="text-align:right;">__(Continua...)__</p>

---

##### Diretrizes diagnósticas da CID-10 para Sonambulismo (F51.3)
<hr>

* Diretrizes diagnósticas da CID-10 para Sonambulismo (F51.3)
* Ao despertar, o indivíduo não tem recordação do episódio.
* Dentro de vários minutos do sair do episódio, não há comprometimento da atividade mental ou comportamento, embora possa haver inicialmente um curto período de alguma confusão e desorientação.
* Não há nenhuma evidência de um transtorno mental orgânico, tal como epilepsia.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para Terrores Noturnos (F51.3)
<hr>
* O sintoma predominante é um ou mais episódios de despertar do sono com um grito aterrorizado e com intensa ansiedade, motilidade corporal e hiperatividade autonômica, como taquicardia, respiração rápida, pupilas dilatadas e sudorese.
* Esses episódios repetidos duram 1-10 minutos e usualmente ocorrem durante o primeiro terço do sono noturno.

<hr>
<p style="text-align:right;">__(Continua...)__</p>

---

##### Diretrizes diagnósticas da CID-10 para Terrores Noturnos (F51.3)
<hr>

* Há relativa não responsabilidade aos esforços de outros para influenciar o evento de terror noturno e tais esforços são seguidos de vários minutos de desorientação e movimentos perseverativos.
* A recordação do evento, se há alguma, é mínima.
* Não há nenhuma evidência de um transtorno físico, como tumor cerebral ou epilepsia.

<hr>

---

##### Diretrizes diagnósticas da CID-10 para Pesadelos (F51.5)
<hr>

* Despertar de sono noturno ou sesta com recordações detalhadas e vívidas de sonhos intensamente assustadores, usualmente envolvendo ameaças à sobrevivência, segurança ou auto-estima; o despertar pode ocorrer em qualquer hora durante o período de sono, mas tipicamente durante a segunda metade.
* Ao despertar, o indivíduo rapidamente torna-se orientado e alerta.
* A experiência onírica em si e a perturbação do sono causam angústia marcante ao indivíduo.

<hr>

</script>
</section>

<section data-markdown>
    <script type="text/template">    

## Conclusão

Nesta aula, vimos o restante dos critérios diagnósticos de transtornos mentais da CID-10 apresentados no livro. Como já havíamos apresentado os conceitos básicos em psicopatologia, fomos mais objetivos e o mais direto possível às tabelas da CID-10.

Você pode fazer agora as [__32 questões de concurso__](/slides/questoes-de-concurso-psicopatologia-cid10-aula-2/) com o conteúdo desta aula.
 
Se os slides foram úteis, retribua compartilhando o material com seus potenciais concorrentes e dando um feedback nos [comentários da segunda aula](/psicologia-para-concurso/psicopatologia-cid10-aula-2/#coments). __Volte sempre__!
<center> 
{% include ads/est-alt-largo.html %}
</center>

    </script>
</section>

<section>
	{% include ads/est-box.html %}

   &nbsp; &nbsp; &nbsp;

	{% include ads/sol-box.html %}
</section>