---
layout: slide
title: Slides - Psicoterapias | Aula 1
description: Apresentação de slides da primeira aula de psicoterapias para concursos públicos voltada para psicólogos e afins.
theme: gg
transition: none
permalink: /slides/psicoterapias-aula-1/
---

{% include ads/slads.html %}

<section>

<h1> PSICOTERAPIAS</h1>   
<h3> Abordagens atuais</h3>
<h2>Aula 1</h2>
<h4> Slides por <a href="/sobre">Gregório Ribeiro de Miranda</a></h4>

<br>

{% include ads/est-alt-largo.html %}

</section>

<section>

<h2>Apresentação</h2>    

<p>Esta aula é integralmente baseada no livro "<b><a href="http://oferta.vc/osuU">Psicoterapias: abordagens atuais</a></b>", organizado por Aristides Cordioli. Foi utilizada a 3ª edição, publicada em Porto Alegre pela editora Artmed..</p>    
 
<p>...</p>

<p>A primeira aula contém X slides e abarca as páginas XX a XX.</p>
 
<h4>Bons estudos!</h4>

{% include ads/est-alt-largo.html %}

</section>

<section data-markdown>
    <script type="text/template">
## Plano de aula

* Conceitos gerais e principais abordagens
    1. [Psicoterapia](#/psicoterapia)
    - [Psicanálise e psicoterapia de orientação analítica](#/psicanalise)
    - [Psicoterapia de apoio](#/apoio)
    - [Terapia focal: psicoterapia breve psicodinâmica](#/focal)
    - [Terapia interpessoal](#/interpessoal)
    - [Terapia comportamental](#/comportamental)
    - [Terapia cognitiva e cognitivo-comportamental](#/cognitiva)
    - [Terapia de família e de casal](#/familia-casal)
    - [Psicoterapia de grupo](#/grupo)
    </script>
</section>

<!--- PSICOTERAPIA -->

<style>.h-psicoterapia header:after { content: "Psicoterapia"; }</style>
<section data-markdown data-state="h-psicoterapia" id="psicoterapia">
    <script type="text/template">  


    </script>
</section>

<section data-markdown data-state="h-psicoterapia" data-separator="---">
    <script type="text/template">  


---

    </script>
</section>

<style>.h-teopsi header:after { content: "Teoria Psicanalítica"; }</style>
<section data-markdown data-state="h-teopsi">
    <script type="text/template">  


    </script>
</section>

<!--- PSICANALISE -->

<style>.h-psicanalise header:after { content: "Psicanálise e Psicoterapia de Orientação Analítica"; }</style>
<section data-markdown data-state="h-psicanalise" id="psicanalise">
    <script type="text/template">  


    </script>
</section>

<section data-markdown data-state="h-psicanalise" data-separator="---">
    <script type="text/template">  

---

    </script>
</section>

<!--- APOIO -->

<style>.h-apoio header:after { content: "Psicoterapia de Apoio"; }</style>
<section data-markdown data-state="h-apoio" id="apoio">
    <script type="text/template">  


    </script>
</section>

<section data-markdown data-state="h-apoio" data-separator="---">
    <script type="text/template">  

---

    </script>
</section>

<!--- FOCAL -->

<style>.h-focal header:after { content: "Terapia Focal: Psicoterapia Breve Psicodinâmica"; }</style>
<section data-markdown data-state="h-focal" id="focal">
    <script type="text/template">  


    </script>
</section>

<section data-markdown data-state="h-focal" data-separator="---">
    <script type="text/template">  

---

    </script>
</section>

<!--- INTERPESSOAL -->

<style>.h-interpessoal header:after { content: "Terapia Interpessoal"; }</style>
<section data-markdown data-state="h-interpessoal" id="interpessoal">
    <script type="text/template">  


    </script>
</section>

<section data-markdown data-state="h-interpessoal" data-separator="---">
    <script type="text/template">  

---

    </script>
</section>

<!--- COMPORTAMENTAL -->

<style>.h-comportamental header:after { content: "Terapia Comportamental"; }</style>
<section data-markdown data-state="h-comportamental" id="comportamental">
    <script type="text/template">  


    </script>
</section>

<section data-markdown data-state="h-comportamental" data-separator="---">
    <script type="text/template">  

---

    </script>
</section>

<!--- COGNITIVA -->

<style>.h-cognitiva header:after { content: "Terapia Cognitiva"; }</style>
<section data-markdown data-state="h-cognitiva" id="cognitiva">
    <script type="text/template">  


    </script>
</section>

<section data-markdown data-state="h-cognitiva" data-separator="---">
    <script type="text/template">  

---

    </script>
</section>

<!--- COGNITIVO-COMPORTAMENTAL -->

<style>.h-cognitivo-comp header:after { content: "Terapia Cognitivo-Comportamental"; }</style>
<section data-markdown data-state="h-cognitivo-comp" data-separator="---">
    <script type="text/template">  

---

    </script>
</section>

<!--- FAMILIA-CASAL -->

<style>.h-familia-casal header:after { content: "Terapia de Família e de Casal"; }</style>
<section data-markdown data-state="h-familia-casal" id="familia-casal">
    <script type="text/template">  


    </script>
</section>

<section data-markdown data-state="h-familia-casal" data-separator="---">
    <script type="text/template">  

---

    </script>
</section>

<!--- GRUPO -->

<style>.h-grupo header:after { content: "Terapia de Grupo"; }</style>
<section data-markdown data-state="h-grupo" id="grupo">
    <script type="text/template">  


    </script>
</section>

<section data-markdown data-state="h-grupo" data-separator="---">
    <script type="text/template">  

---

    </script>
</section>

<!--- CONCLUSÃO -->

<section data-markdown>
    <script type="text/template">    

## Conclusão

Nesta aula, aprendemos alguns __fundamentos e conceitos básicos__ em psicopatologia clínica. Vimos as 10 __principais funções psíquicas__ e suas anormalidades e uma descrição metódica do __exame psicopatológico__ usado na prática clínica. Conferimos, por fim, três grandes grupos de critérios diagnósticos segundo a CID-10: __Os transtornos mentais devido à condição médica geral__, __o retardo mental__ e os __aspectos neuropsiquiátricos na infecção pelo HIV e na Sida__ (Aids).

Faça agora as [__questões de concurso__](/slides/questoes-de-concurso-psicopatologia-cid10-aula-1/) com o conteúdo desta aula.
 
Aproveite que o conteúdo está fresco em sua [memória imediata e de fixação](#/35)!  
Você lembra a diferença entre elas, certo?

Não deixe também de conferir a <b><a href="/psicologia-para-concurso/psicopatologia-cid10-aula-2">segunda aula de psicopatologia</a></b> com o restante dos critérios diagnósticos da CID-10.

    </script>
</section>

<section>
	{% include ads/est-box.html %}

   &nbsp; &nbsp; &nbsp;

	{% include ads/sol-box.html %}
</section>