@import "https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"; /* https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do);

.bg-super-white { background: #f2f2f2; } /* #f9f9f9 */
.top-50 { top: 50% }
.link:hover { background: url(/images/line.png) repeat-x left bottom; }

/* Markdown styles */
.markdown-body a {
  text-decoration: underline;
  color: #333; /* 357edd*/
}

.markdown-body p {
  text-decoration: none;
  color: #333; /* 357edd*/
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  line-height: 1.8;
}

.markdown-body .highlighter-rouge {
  padding: .25rem .5rem;
}
.markdown-body pre {
  margin: 0;
  overflow: auto;
}
.markdown-body > .highlighter-rouge,
.markdown-body > blockquote {
  padding: .5rem 4rem;
  margin: 2em -4rem;
}
.markdown-body > hr {
  margin: 2em -4rem;
  border: 0;
  border-bottom: 1px dotted #CCC;
}
.markdown-body blockquote {
  background: #f2f2f2;
  border-left: .2rem solid #ccc;
  padding-left: 3.8rem;
}

.markdown-body  h1,h2,h3,h4,h5,h6 {
  text-decoration: none;
  color: #444;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.markdown-body mark {
  background: #f2f2f2;
  border-style: solid; 
  border-width: 1px; 
  border-radius: 5px; 
  border-color: #ccc; 
  padding: 4px;
  color: #222;
  font-family: monospace;
  font-size: 0.9rem;
}

.markdown-body li {
  margin: 15px 0; 
  text-decoration: none;
  color: #333; /* 357edd*/
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  line-height: 1.8;
} 

.markdown-body figure {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
} 

/* end Markdown styles */

/* Markdown home style - Links na página inicial */
.markdown-home a {
  text-decoration: none;
  color: #333; /* 357edd*/
}
.markdown-home .highlighter-rouge {
  padding: .25rem .5rem;
}
.markdown-home pre {
  margin: 0;
  overflow: auto;
}
.markdown-home > .highlighter-rouge,
.markdown-home > blockquote {
  padding: .5rem 4rem;
  margin: 2em -4rem;
}
.markdown-home > hr {
  margin: 2em -4rem;
  border: 0;
  border-bottom: 1px dotted #red;
}
.markdown-home blockquote {
  background: #f9f9f9;
  border-left: .2rem solid #red;
  padding-left: 3.8rem;
}
/* end Markdown home */

.titulo {
  font-family: "Nothing You Could Do", cursive;
  font-size: 1.75rem;
}

.pt-sans {
  font-family: font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

